.pagination {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    margin-top: 20%
}

.pagination>button {
    display: grid;
    place-items: center;
    width: 34px;
    height: 34px;
    padding: 0;
    border: 0;
    border-radius: 3px;
    background: #262528;
    color: #f9f9f9
}

.pagination>button.active {
    background: #8f44fd
}

.pagination>button:disabled {
    opacity: 0.25;
}